<h1><%= I18n.t('views.messages.initial_assign') %></h1>

<h4>email: <%= @email %></h4>
<p><%= I18n.t('views.messages.initial_password') %> <%= @password %></p>
<br>
<br>
<h1>管理者権限の委譲、もしくは</h1>
<h1>アジェンダの削除が実行されました！</h1>
<h1>ご確認お願いします。</h1>
